body {
	width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	width: 100%;
	background-color: #ff5722;
	color: #fff;
	z-index: 100;
}

.admin-logo {
	display: inline-block;
	padding: 0px 15px;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
}

.admin-menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;
	padding-top: 40px;
	background-color: #333;
	z-index: 10;
}

.admin-menu>ul>li {
	padding: 10px;
	border-bottom: solid 1px #999;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.admin-contents {
	position: relative;
	padding: 50px 10px 10px 210px;
}




