<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>한빛 관리자</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/static/js/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/js/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/{{cssName}}.css">
</head>
<body>
<header>
	<div class="admin-logo">Hanbit Plate Admin</div>
</header>
<nav class="admin-menu">
	<ul>
		<li>카테고리관리</li>
		<li>지역관리</li>
		<li>맛집관리</li>
	</ul>
</nav>
<div class="admin-contents">